.login-page{
    background-color: white;
    margin: auto;
    width: 1200px;
    height: 820px;


.login-window{
    position: relative;
    width: 350px;
    height: 250px;
    left: 475px;
    top: 55px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    border-radius: 5px;



.login-title {
    position: relative;
    top:28px;
    left:20px;
    width: 310px;
    height: 22px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;

color: #000000;
}

.label{
    position: relative;
  
width: 27.46px;
height: 12px;
left: 25.88px;
top: 61px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;

display: flex;
align-items: center;

color: #828282;
}

.label-login{
    position: relative;
    top:39px;
}

.input{
width: 304px;
height: 37px;
background: #E0E0E0;
left:20px;
border:none;
}


.input-login{
    position: relative;
    top:43px;
 
}

.input-password{
    position: relative;
    top:52px;
 
}

.label-password{
    position: relative;
    top:48px;
}

.login-button{
    position: relative;
    width: 124px;
    height:30px;
    background-color: #2F80ED;
    border-radius: 5px;
    top:70px;
    left:200px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    cursor: pointer;
    justify-content: center;
}

}



}