app-header{
    width: 1440px;
    height:80px;
    display: flex;
    background-color: #E5E5E5 ;
    gap:14px;
    align-items: center;
    margin: auto;
        
}

main {
    width: 1440px;
    margin: auto;
    height: 900px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #2F80ED;
}
