.not-found{
   background-color: white;
    margin: auto;
    width: 1200px;
    height: 820px;
}

.not-found-window{
    position: relative;
    width: 360px;
    height: 100px;
    left: 540px;
    top: 231px;

    display: flex;
}
.img-not-found {
    width:100px;
    height:100px;
}



.text-not-found {
    position: relative;
    width: 233.35px;
    height: 56px;
    left: 26.65px;
    top:17px;
    
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    
    color: #828282;
}