@font-face {
    font-family: 'Roboto';
    src: url(./assets/fonts/roboto/Roboto-Medium.ttf) format("truetype");
 
  }

  app-root {
    width: 1440px;
    margin: auto;
    height: 900px;
    overflow: hidden;
    background-color: blue;
}