
.search{
    position: relative;
    left:432px;
    display: flex;
    .search-input{
        width: 296px;
        height: 24px;
        background-color: #EFEFEF;
        border: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color:#929292;
    }

    .search-button{
        background-color: #2F80ED;
        border-radius: 0px 4px 4px 0px;
        width: 80px;
        height: 26px; 
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        color: #FFFFFF;
        cursor: pointer;
        border:none;

        &:hover{
            background-color: #5EA2FF
        }
    }
}