<div class="detailed-page">
    <img class="back-btn" src="./assets/images/back_button.png" routerLink="/main/results"
        routerLinkActive="active">
    <div class="detailed-window">
        <img class="big-card" src="{{arrayForOneCard[0].snippet.thumbnails.high.url}}">
        <div class="big-card-info">
            <div class="card-title">{{arrayForOneCard[0].snippet.title}}</div>
            <div class="card-date">{{FinalDate}}</div>
            <div class="card-subtitle">Description:</div>
            <div class="card-description">{{arrayForOneCard[0].snippet.description}}</div>
            <div class="card-group">
                <div class="group-view">
                    <img class=view-image src="./assets/images/view.png">
                    <div class="view-value">{{arrayForOneCard[0].statistics.viewCount}}</div>
                </div>
                <div class="group-like">
                    <img class=like-image src="./assets/images/like.png">
                    <div class="like-value">{{arrayForOneCard[0].statistics.likeCount}}</div>
                </div>
                <div class="group-dislike">
                    <img class=dislike-image src="./assets/images/dislike.png">
                    <div class="dislike-value">{{math.round(arrayForOneCard[0].statistics.likeCount/10)}}</div>
                </div>
                <div class="group-comment">
                    <img class=comment-image src="./assets/images/comment.png">
                    <div class="comment-value">{{arrayForOneCard[0].statistics.commentCount}}</div>
                </div>
            </div>
        </div>
    </div>
</div>