<div class="detailed-page">
    <img class="back-btn" src="../../../../assets/images/back_button.png" routerLink="/youtube/main/results"
        routerLinkActive="active">
    <div class="detailed-window">
        <img class="big-card" src="">
        <div class="big-card-info">
            <div class="card-title">Kuji Podcast #20</div>
            <div class="card-date">Thursday, December 20, 2019</div>
            <div class="card-subtitle">Description:</div>
            <div class="card-description">This Is KuJi Podcast. In this issue, Timur karginov, Andrey Konyaev and Nurlan
                Saburov discuss the end of 2018: Khabib's fight with McGregor, Kokorin and Mamayev, Urgant's show on
                channel One, the economic crisis and gifts for loved ones.</div>
            <div class="card-group">
                <div class="group-view">
                    <img class=view-image src="../../../../../assets/images/view.png">
                    <div class="view-value">1000</div>
                </div>
                <div class="group-like">
                    <img class=like-image src="../../../../../assets/images/like.png">
                    <div class="like-value">300</div>
                </div>
                <div class="group-dislike">
                    <img class=dislike-image src="../../../../../assets/images/dislike.png">
                    <div class="dislike-value">200</div>
                </div>
                <div class="group-comment">
                    <img class=comment-image src="../../../../../assets/images/comment.png">
                    <div class="comment-value">500</div>
                </div>
            </div>
        </div>
    </div>
</div>